 /* card  */
 .card-media {
    width: 300px;
    height: 300px;
    margin: 0 auto 12px;
  }
  
  .card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: #111;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 999;
  }
  
  .scrollTopBtn:hover {
    background: #333;
    transform: translateY(-2px);
  }
  
  .scrollTopBtn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .scrollTopBtn {
      bottom: 20px;
      right: 20px;
      width: 42px;
      height: 42px;
    }
  }