 /* card  */
 .card-media {
    width: 300px;
    height: 300px;
    margin: 0 auto 12px;
  }
  
  .card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }